# Distribution / packaging
*.egg-info/
*.egg
dist
build
scratch

# Unit test / coverage reports
htmlcov/
.coverage
.cache
coverage.xml

# Doc
site/

# OS X
.DS_Store

# PyEnv
.python-version

*.pyc
*.jpg
*.jpeg
*.png
*.geojson
