# Pyenv
.python-version

# Distribution / packaging
*.egg-info/
*.egg
dist
build
scratch

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# OS X
.DS_Store

# IDEs and dev tools
.idea

*.pyc
*.jpg
*.jpeg
*.png
*.geojson
